{% extends 'basic.html' %}
{% block title %}Applicants List{% endblock title %}
{% block body %}
{% load humanize %}

<div class="text-center">
    <h2 class="font-weight-bold mt-3">Applicants List</h2>
    <hr>
        <table class="table">
            <thead>
            <tr>
                {% for a in applicants %}
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Location</th>
                <th scope="col">Salary Expectation</th>
                <th scope="col">
                    {% if  a.tuitionprofile.current_status == 'Graduated/Passed'%}
                    Graduated From
                    {% else %}
                    Studying At
                    {% endif %}
                    </th>
                <th scope="col">Major</th>
                <th scope="col">Phone</th>
                <th scope="col">Status</th>

            </tr>
            </thead>
            <tbody>
                <th scope="row"><a href="/session/otherpro/{{a.id}}/">{{a.get_full_name}}</a></th>
                <td>{{a.tuitionprofile.gender}}</td>
                <td>{{a.userprofile.birth_date|timesince}}</td>
                <td>{{a.tuitionprofile.district}}</td>
                <td>({{a.tuitionprofile.salary}}) BDT</td>
                <td><b>{{a.tuitionprofile.graduated_from}}</b></td>
                <td>{{a.tuitionprofile.major_subject}} </td>
                <td>{{a.userprofile.phone}} </td>
                {% if t == 0 %}
                <td><button class="btn btn-dark"> <a href="/tuition/hire/{{id}}/{{a.tuitionprofile.id}}/" style="color:white">Hire</a> </button> </td>
                {% elif t == 1 %}
                <td><button class="btn btn-dark"> <a href="/tuition/postdetail/{{id}}/" style="color:white">Hired</a> </button> </td>
                {% endif %}
            </tbody>
            {% endfor %}
        </table>
</div>

{{t}}


{% endblock body %}







